<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>e-mail</th>
      <th>lastLogin</th>
      <th>active</th>
      <th>groups</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.getFormatLastLogin()}}</td>
      <td *ngIf="user.active; else elseBlock">
        <fa-icon [icon]="faActive"></fa-icon>
      </td>
      <ng-template #elseBlock>
        <td>
          <fa-icon [icon]="faInactive"></fa-icon>
        </td>
      </ng-template>
      <td>
        <span *ngFor="let group of user.groups">{{group.name}}&nbsp;</span>
      </td>
      <td>
        <button type="button" class="btn btn-outline-secondary" (click)="editUser(user)">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteUser(user)">
          <fa-icon [icon]="faDelete" style="color: darkred"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="onNewUserButtonClick()">
  Add user
</button>
<app-user-edit [user]="editedUser" [actionWithUser]="actionWithUser" (saved)="saveUser($event)"></app-user-edit>
